.navbar {
  background-color: var(--primary);
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.navbar .menuItems {
  width: 100%;
  order: 1;
  display: flex;
  flex-direction: column;
}
.navbar .menuItems.collapsed {
  display: none;
}
.navbar a {
  text-decoration: none;
  color: initial;
  margin: .5rem;
  display: block;
  text-align: center;
  color: var(--white);
  font-size: 1.2rem;
}
.navbar .menuButton {
  display: block;
  margin-left: auto;
  background-color: initial;
  border: none;
}
@media (min-width: 768px) {
  .navbar {
    justify-content: flex-end;
    padding-left: 4rem;
  }
  .navbar .menuItems {
    display: initial !important;
    flex-direction: row;
  }
  .navbar a {
    margin: 0 1.5rem;
    display: initial;
  }
  .navbar .menuButton {
    display: none;
  }
}