.generalInfo {
  background-color: #fff;
  border: 1px solid var(--gray);
  border-radius: 0.2rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
.generalInfo p {
  font-size: 1.2rem;
}
.generalInfo p span {
  color: var(--primary);
}

.list {
  list-style: none;
  border: 1px solid var(--gray);
  border-radius: 0.2rem;
  overflow: hidden;
}